/* src/App.css */

/* optional, par useful */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* is div ke andar LoginSignup hai */
.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
